


.continent {
    width: 800px;
    position: fixed;
    margin-top: 80px;
    margin-right: 50px;
    margin-bottom: 100px;
    filter: brightness(1) saturate(1) sepia(0); 
    transition: filter 0.3s ease; 
}

.continent:hover {
    filter: brightness(1) saturate(3) sepia(0) hue-rotate(100deg); 
}

body {
    background-image: url('../pictures/water.jpg'); 
background-size: cover; 
background-position: center; 
 

}